// Created by jmcneely on 2/23/17.

.row
	.col-lg-4.col.col-lg-offset-4
		h2 {{page_title}}
		h1 Hello World! Now Authenticate!
.row.t20
	.col-lg-4.col.col-lg-offset-4
		button.btn.btn-primary(
			ng-click="login()"
		) Log In With oAuth
